body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #292929;
}

.front {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blackout-front {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 35%;
}

.forntImage {
  width: 100%;
  height: 80%;
  z-index: -1;
  overflow: hidden;
}

.forntImage img {
  width: 100%;
  height: 890px;
}

.intro {
  width: 100%;
  height: 100%;
  position: absolute;
}

.name {
  position: absolute;
  z-index: 2;
}

.name p {
  font-family: 'Lobster', cursive;
  margin: 0;
  font-size: 25px;
  color: #ebebdd;
  margin-left: 16px;
  margin-top: 8px;
}

nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  float: right;
}

nav a {
  text-decoration: none;
  float: right;
  color: white;
  margin-right: 12px;
  font-size: 22px;
  margin-left: 16px;
  margin-top: 8px;
  background-color: #292929;
  padding: 5px 5px 8px 5px;
  border-radius: 20px;
}

#texthover {
  position: relative;
  z-index: 3;
}

.introText {
  width: 100%;
  height: 50%;
  position: relative;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introText h1 {
  font-size: 50px;
  color: #ebebdd;
}

.introText h3 {
  font-size: 20px;
  color: #ebebdd;
  opacity: 60%;
}

.introText p {
  font-size: 15px;
  color: #ebebdd;
  opacity: 50%;
}

.intro-ani h1 {
  opacity: 50%;
}

.intro-ani h3 {
  opacity: 100%;
}

.intro-ani p {
  opacity: 90%;
}

.line-con {
  width: 100%;
}

.line {
  position: relative;
  width: 20%;
  border-top: 5px solid #292929;
  border-bottom: 5px solid #292929;
  border-radius: 40px;
  opacity: 100%;
  left: 40%;
}

.line-ani {
  padding-right: 100px;
  left: 33%;
}

.sub {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  position: relative;
  left: 20%;
  width: 30%;
  float: left;
  z-index: 2;
  color: white;
}

.text h2 {
  font-size: 24px;
}

.mainText {
  font-size: 14px;
}

.content {
  position: relative;
  margin-top: 50px;
  background-color: #633409;
  overflow: hidden;
}

.cornered {
  position: absolute;
  z-index: 1;
  width: 56%;
  height: 0px;
  border-top: 430px solid #944f0f;
  border-right: 90px solid transparent;
}

.image {
  position: relative;
  width: 69%;
  height: 430px;
  float: right;
  left: 25%;
  z-index: 0;
  overflow: hidden;
}

.image img {
  width: 70%;
  height: auto;
}

.flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flip .text {
  color: white;
  left: 50%;
  float: left;
}

.flip .image {
  left: -30%;
}

.flip .cornered {
  left: 40%;
  border-top: 441px solid #944f0f;
  border-left: 90px solid transparent;
}

.more {
  text-decoration: none;
  color: white;
}

.moreAni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
  font-size: 20px;
}

.moreAni p {
  margin-left: 2px;
}

.arrow1-ani {
  position: relative;
  font-size: 20px;
  -webkit-animation: arrow1 1s linear 0.1s infinite;
          animation: arrow1 1s linear 0.1s infinite;
}

@-webkit-keyframes arrow1 {
  0% {
    left: 0px;
    top: 0px;
    opacity: 100%;
  }
  25% {
    left: 5px;
    opacity: 80%;
  }
  50% {
    left: 10px;
    opacity: 50%;
    bottom: 2px;
  }
  75% {
    left: 15px;
    bottom: 4px;
    opacity: 25%;
  }
  100% {
    left: 20px;
    bottom: 6px;
    opacity: 0%;
  }
}

@keyframes arrow1 {
  0% {
    left: 0px;
    top: 0px;
    opacity: 100%;
  }
  25% {
    left: 5px;
    opacity: 80%;
  }
  50% {
    left: 10px;
    opacity: 50%;
    bottom: 2px;
  }
  75% {
    left: 15px;
    bottom: 4px;
    opacity: 25%;
  }
  100% {
    left: 20px;
    bottom: 6px;
    opacity: 0%;
  }
}

.arrow2-ani {
  position: relative;
  font-size: 20px;
  -webkit-animation: arrow2 1s linear infinite;
          animation: arrow2 1s linear infinite;
}

@-webkit-keyframes arrow2 {
  0% {
    left: 0px;
    top: 0px;
    opacity: 100%;
  }
  25% {
    left: 5px;
    opacity: 80%;
  }
  50% {
    left: 10px;
    opacity: 50%;
    bottom: 2px;
  }
  75% {
    left: 15px;
    bottom: 4px;
    opacity: 25%;
  }
  100% {
    left: 20px;
    bottom: 6px;
    opacity: 0%;
  }
}

@keyframes arrow2 {
  0% {
    left: 0px;
    top: 0px;
    opacity: 100%;
  }
  25% {
    left: 5px;
    opacity: 80%;
  }
  50% {
    left: 10px;
    opacity: 50%;
    bottom: 2px;
  }
  75% {
    left: 15px;
    bottom: 4px;
    opacity: 25%;
  }
  100% {
    left: 20px;
    bottom: 6px;
    opacity: 0%;
  }
}

#contact {
  width: 100%;
  height: 300px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contact-text {
  width: 25%;
  height: auto;
}

.contact-text p {
  font-size: 18px;
  font-weight: normal;
}

.icons {
  margin-left: 12px;
}

.icons img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.footText {
  margin-left: 12px;
}

#moreAni5 {
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-left: 4px;
}

.me-img img {
  width: 135px;
  height: 135px;
  border-radius: 180px;
}

@media only screen and (max-width: 850px) {
  .intro {
    width: 100%;
    height: 28%;
  }
  .content {
    height: 200px;
    width: 100%;
  }
  .introText h1 {
    font-size: 15px;
  }
  .introText h2 {
    font-size: 10px;
  }
  .introText h3 {
    font-size: 8px;
  }
  .introText p {
    font-size: 5px;
  }
  .forntImage {
    width: auto;
    height: 250px;
  }
  .mainText {
    font-size: 8px;
  }
  .text h2 {
    font-size: 14px;
  }
  .more {
    font-size: 8px;
  }
  .cornered {
    display: none;
  }
  .image {
    float: none;
    width: 100%;
    height: auto;
    left: 20%;
  }
  .content {
    width: 100%;
    height: 10%;
  }
  .flip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flip .text {
    left: 20%;
  }
  .flip .image {
    left: 20%;
  }
  .text {
    width: 50%;
    float: none;
  }
  .name p {
    font-size: 20px;
  }
  nav a {
    font-size: 15px;
  }
  .line-ani {
    left: 25%;
  }
  .contact-text {
    width: 40%;
    height: auto;
  }
  .contact-text p {
    font-size: 9px;
  }
  .me-img img {
    width: 75px;
    height: 75px;
  }
  #contact {
    margin-bottom: 200px;
  }
  .footText {
    font-size: 8px;
  }
  .icons img {
    width: 25px;
    height: 25px;
  }
  .arrow1, .arrow2 {
    font-size: 8px;
  }
}
/*# sourceMappingURL=main.css.map */